/* =============
    animation
============= */

#animation {

    background-color: #FDF7F1;
    width: 100%;
    >div {
        background-color: #FDF7F1;
        svg {
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 100%;

        }

    }
}