/* =============
    before-body
============= */

#before-body {



    position: absolute;
    width: 1296px;
    height: 46px;
    left: 72px;
    bottom: 1536px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;


    text-align: justify;
    text-transform: uppercase;

    color: #143251;

    p {
        position: absolute;
        width: 622px;
        height: 272px;
        left: 409px;
        top: 1156px;

        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 42px;
        color: #000000;
    }
}