/* =============
    body
============= */

#body {


    grid-picture {
        /* Frame */
        width: 1275.04px;
        height: 1086.37px;
        left: 82px;
        top: 1470px;
    }

    grid-container {
        display: grid;
        width: 5100px;
        grid-template-areas:
            "s1 s2 s3"
            "s4 s5 s6";
    }



    ul {



        #s1 {

            /* Container needed to position the overlay. Adjust the width as needed */
            .container {
                position: relative;
                width: 100%;
                max-width: 400px;
            }

            /* Make the image to responsive */
            .image {
                width: 100%;
                height: auto;
            }

            /* The overlay effect (full height and width) - lays on top of the container and over the image */
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .3s ease;

            }

            /* When you mouse over the container, fade in the overlay icon*/
            .container:hover .overlay {
                opacity: 1;
            }

            /* The icon inside the overlay is positioned in the middle vertically and horizontally */
            .icon {
                color: white;
                font-size: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            }

            a {
                /* Sun Icon */


                position: relative;
                width: 74.27px;
                height: 74.27px;
                left: 277.81px;
                top: 1832.24px;

            }

            #n1 {
                /* SUMMERTIME FUN CAMP */


                position: absolute;
                width: 247px;
                height: 56px;
                left: 192px;
                top: 1948px;

                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                text-align: center;

                color: #FFFFFF;

            }

            /* Summertime Fun Camp Image */


            position: absolute;
            width: 336.51px;
            height: 370.58px;
            left: 143.07px;
            top: 1744.93px;

        }


        #s2 {
            /* Star Wars Camp Image */


            position: absolute;
            width: 337.51px;
            height: 370.58px;
            left: 550.07px;
            top: 1744.93px;
        }

        #s3 {
            /* Wizarding Games Camp Image */


            position: absolute;
            width: 337.77px;
            height: 370.58px;
            left: 954.81px;
            top: 1744.93px;

        }

        #s4 {
            /* Hunger Games Camp Image */


            position: absolute;
            width: 336.51px;
            height: 370.93px;
            left: 144.07px;
            top: 2185.93px;

        }

        #s5 {

            /* Video Games Camp Image */


            position: absolute;
            width: 337.51px;
            height: 370.93px;
            left: 550.07px;
            top: 2184.93px;

        }

        #s6 {
            /* Shark Tank Camp Image */


            position: absolute;
            width: 336.77px;
            height: 370.93px;
            left: 954.81px;
            top: 2184.93px;
        }

        @include md {
            display: grid;
            grid-template-areas:
                "s1 s2 s3"
                "s4 s5 s6";
            gap: 16px;
        }

        @include lg {
            grid-template-areas:
                "s1 s2 s3"
                "s4 s5 s6";
        }
    }



}