/* =============
    body
============= */

#body {

    grid-picture {
        /* Frame */
        width: 1275.04px;
        height: 1086.37px;
        left: 82px;
        top: 1470px;
    }

    grid-container {
        display: grid;
        width: 5100px;
        grid-template-areas:
            "s1 s2 s3"
            "s4 s5 s6";
    }

    ul {

        #s1 {
            @include md {
                grid-area: s1;

            }
        }

        #s2 {
            @include md {
                grid-area: s2;
            }
        }

        #s3 {
            @include md {
                grid-area: s3;
            }
        }

        #s4 {
            @include md {
                grid-area: s4;
            }
        }

        #s5 {


            /* Video Games Camp Image */


            position: absolute;
            width: 337.51px;
            height: 370.93px;
            left: 550.07px;
            top: 2184.93px;

        }

        #s6 {
            @include md {
                grid-area: s6;
            }
        }

        @include md {
            display: grid;
            grid-template-areas:
                "s1 s2 s3"
                "s4 s5 s6";
            gap: 16px;
        }

        @include lg {
            grid-template-areas:
                "s1 s2 s3"
                "s4 s5 s6";
        }
    }



}