/* =============
    body-buttons
============= */

#body-buttons {
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 70px;
    margin: 10px;

    #b2 {
        padding-left: 200px;
    }

    #b3 {
        padding-left: 200px;
    }

    #b4 {
        padding-left: 200px;
    }
}