/* =============
    body-buttons
============= */

#body-buttons {
    #b1 {
        /* Contact Us Button */


        position: absolute;
        width: 199.46px;
        height: 199.46px;
        left: 85.43px;
        top: 1473px;

        h5 {
            /* CONTACT US */


            position: absolute;
            width: 158px;
            height: 26px;
            left: 106px;
            top: 1578px;

            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;

            color: #143251;

        }
    }

    #b2 {
        /* View Dates and Rates Button */


        position: absolute;
        width: 199.46px;
        height: 199.46px;
        left: 442.86px;
        top: 1473.43px;


        h5 {
            /* VIEW DATES & RATES */


            position: absolute;
            width: 174px;
            height: 58px;
            left: 456px;
            top: 1578px;

            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;

            color: #8F9F67;

        }
    }

    #b3 {

        /* View The Camp Rules Button */


        position: absolute;
        width: 199.46px;
        height: 199.46px;
        left: 799.87px;
        top: 1473.43px;

        h5 {
            /* VIEW THE CAMP RULES */


            position: absolute;
            width: 187px;
            height: 50px;
            left: 806px;
            top: 1300px;

            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;

            color: #D9BA7C;

        }
    }

    #b4 {
        /* Make a Payment Button */


        position: absolute;
        width: 199.46px;
        height: 199.46px;
        left: 1154.15px;
        top: 1473.43px;



        h5 {
            /* MAKE A PAYMENT */


            position: absolute;
            width: 149px;
            height: 70px;
            left: 1179px;
            top: 1578px;

            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;

            color: #143251;


        }
    }
}