/* =============
    body
============= */

#body {


    grid-picture {
        /* Frame */
        width: 1275.04px;
        height: 1086.37px;
        left: 82px;
        top: 1470px;
    }

    grid-container {
        display: grid;
        width: 5100px;
        grid-template-areas:
            "s1 s2 s3"
            "s4 s5 s6";
    }



    ul {



        #s1 {
            /* Summertime Fun Camp Image */


            position: absolute;
            width: 336.51px;
            height: 370.58px;
            left: 143.07px;
            top: 1744.93px;

        }


        #s2 {
            /* Star Wars Camp Image */


            position: absolute;
            width: 337.51px;
            height: 370.58px;
            left: 550.07px;
            top: 1744.93px;
        }

        #s3 {
            /* Wizarding Games Camp Image */


            position: absolute;
            width: 337.77px;
            height: 370.58px;
            left: 954.81px;
            top: 1744.93px;

        }

        #s4 {
            /* Hunger Games Camp Image */


            position: absolute;
            width: 336.51px;
            height: 370.93px;
            left: 144.07px;
            top: 2185.93px;

        }

        #s5 {

            /* Video Games Camp Image */


            position: absolute;
            width: 337.51px;
            height: 370.93px;
            left: 550.07px;
            top: 2184.93px;

        }

        #s6 {
            /* Shark Tank Camp Image */


            position: absolute;
            width: 336.77px;
            height: 370.93px;
            left: 954.81px;
            top: 2184.93px;
        }

        @include md {
            display: grid;
            grid-template-areas:
                "s1 s2 s3"
                "s4 s5 s6";
            gap: 16px;
        }

        @include lg {
            grid-template-areas:
                "s1 s2 s3"
                "s4 s5 s6";
        }
    }



}