#card {

    position: absolute;
    width: 100%;
    z-index: 1000;

    >div {
    
        svg {
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 100%;

            //#Frame-1{
            //    display: none;
            //}

            //#Frame-5{
           //     display: none;
           // }
            //#Frame-6{
                //display: none;
            //}
            //#Frame-14{
            //    display: none;
           // }
            #Frame-15{
                display: none;
            }
            #Frame-15-2{
                display: none;
            }
            #Frame-16{
                display: none;
            }
            #Frame-17{
                display: none;
            }

            #Frame-20{
                display: none;
            }

            #Frame-21{
                display: none;
            }

            #Frame-24{
                display: none;
            }

            #Frame-25{
                display: none;
            }

            #Frame-26{
                display: none;
            }

            #Frame-27{
                display: none;
            }

            #Frame-28{
                display: none;
            }

            #Frame-29{
                display: none;
            }

            #Frame-30{
                display: none;
            }
            #Frame-31{
                display: none;
            }

            #Frame-32{
                display: none;
            }

            #Frame-34{
                display: none;
            }














        }

    }
}