#preloader {

    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: white;

    //CSS Grid option
    //display: grid;
    // grid-template-columns: auto 90vw auto;
    //grid-template-areas: ". preloader .";

    //@include md{
    //    grid-template-columns: auto 70vw auto;
    //}

    //@include lg{
    //grid-template-columns: auto 60vw auto;
    //}

    //@include xl{
    //   grid-template-columns: auto 50vw auto;
    //}


    >div {

        //CSS Grid Option
        //grid-area: preloader;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;



        svg {
            //#shark-tank-camp-icon{
            //    display: none;
            //}

            #video-games-camp-icon {
                display: none;
            }

            #star-wars-camp-alternative-light-saber-icon {
                display: none;
            }

            #star-wars-camp-icon {
                display: none;
            }

            #wizarding-games-camp-icon {
                display: none;
            }

            #wizarding-games-camp-wand-glow {
                display: none;
            }

            #summertime-fun-camp-icon {
                display: none;
            }

            #hunger-games-camp-icon {
                display: none;
            }

        }



    }


}