/* =============
    Header
============= */

header {

    li {
        /* ABOUT */


        position: absolute;
        width: 63px;
        height: 21px;
        left: 990px;
        top: 34px;

        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;

        color: #FFFFFF;

        /* PROGRAMS & ACTIVITIES */


        position: absolute;
        width: 217px;
        height: 21px;
        left: 1086px;
        top: 34px;

        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;

        color: #FFFFFF;

        /* CONTACT */


        position: absolute;
        width: 85px;
        height: 21px;
        left: 1332px;
        top: 34px;

        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;

        color: #FFFFFF;

    }


}